FRAPPE_IMAGE=frappe/erpnext:v16.17.0

MYSQL_ROOT_PASSWORD=change-me-db-root
FRAPPE_ADMIN_PASSWORD=change-me-admin

DB_HOST_PORT=3308
FRONTEND_HOST_PORT=8082
BACKEND_HOST_PORT=8002
WEBSOCKET_HOST_PORT=9002
REDIS_QUEUE_HOST_PORT=6381
REDIS_CACHE_HOST_PORT=6382
